﻿
@{
    Layout = null;
    if (Session["IDUser"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->


    <style>
        html, body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            color: #000000;
            background-color: #EBE5DC;
            margin: 0px;
            padding: 0px;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: Arial, Helvetica, sans-serif;
            margin: 10px 0px 10px 0px;
            text-align: center;
        }

        .row {
            display: flex;
            padding: 0px;
            margin: 0px;
        }

        .col-1 {
            width: 8.33%;
        }

        .col-2 {
            width: 16.66%;
        }

        .col-3 {
            width: 25%;
        }

        .col-4 {
            width: 33.33%;
        }

        .col-5 {
            width: 41.66%;
        }

        .col-6 {
            width: 50%;
        }

        .col-7 {
            width: 58.33%;
        }

        .col-8 {
            width: 66.66%;
        }

        .col-9 {
            width: 75%;
        }

        .col-10 {
            width: 83.33%;
        }

        .col-11 {
            width: 91.66%;
        }

        .col-12 {
            width: 100%;
        }

        .BGGiftbox {
            display: block;
            margin: auto;
            box-shadow: 3px 3px 25px 3px rgba(50, 50, 50, .2);
        }

        .login_div {
            display: table;
            margin: 100px 0;
            width: 400px;
        }

        table {
            width: 100%;
            margin-bottom: 30px;
        }

        td {
            padding: 5px;
        }

        .BTNSubmit {
            cursor: pointer;
            width: 100%;
            color: white;
            padding: 10px;
            background-color: #333333;
            border: none;
            text-decoration-line: none;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
        }

            .BTNSubmit:hover {
                background-color: #333344;
            }

        .BTNSelect {
            cursor: pointer;
            width: 50%;
            color: #333333;
            padding: 10px;
            background-color: transparent;
            border: 1px solid #333333;
            text-decoration-line: none;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            transition: .3s;
        }

            .BTNSelect:hover {
                color: white;
                background-color: #333333;
            }

        .BTNLogout {
            cursor: pointer;
            width: 50%;
            color: #333333;
            padding: 10px;
            border: none;
            background-color: transparent;
            text-decoration-line: none;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            transition: .3s;
        }

            .BTNLogout:hover {
                color: #CB5454;
            }

        .BTNDelete {
            outline: 0;
            display: inline-block;
            text-align: center;
            cursor: pointer;
            width: 100%;
            color: white;
            padding: 10px;
            background-color: #A74444;
            border: none;
            text-decoration-line: none;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            /*margin: 50px 10px;*/
            /*float: right;*/
        }

            .BTNDelete:hover {
                background-color: #CB5454;
            }

        input[type="text"], input[type="password"] {
            padding: 12px 7px 12px 20px;
            width: 90%;
            font-size: 14px;
            border: none;
            background-color: #FAF6F5;
        }


        .div-425, .div-768 {
            display: none;
        }
        /*<!==========================================================!>*/
        select {
            position: relative;
            display: block;
            width: 100%;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            color: #333333;
            background-color: #FAF6F5;
            box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            outline: none;
            border: none;
            padding: 10px 15px;
        }

        option {
            padding: 20px;
            width: 100%;
            border: 1px solid #ddd;
        }

        #myForm-1024 {
            display: none;
        }


        /*<!==========================================================!>*/

        @@media screen and (max-width: 1440px) {
        }

        @@media screen and (max-width: 1024px) {
        }

        @@media screen and (max-width: 768px) {
            .div-1024, .div-425 {
                display: none;
            }

            .div-768 {
                display: table;
                width: 100%;
            }

            .BGGiftbox {
                width: 80%;
                display: block;
                margin: auto;
                box-shadow: 3px 3px 25px 3px rgba(50, 50, 50, .2);
            }

            .login_div {
                display: table;
                width: 80%;
                margin: 20% 0px;
            }

            #myForm-768 {
                display: none;
            }
        }

        @@media screen and (max-width: 425px) {
            .div-1024, .div-768 {
                display: none;
            }

            .div-425 {
                display: table;
                width: 100%;
            }

            .login_div {
                display: table;
                width: 80%;
                margin: 20% 40px;
            }

            td {
                padding: 5px 0;
            }
             #myForm-425 {
            display: none;
        }
        }
    </style>

</head>
<body>
    <div class="div-1024">
        <div class="row">
            <div class="col-6"><img src="~/Images/15-01.png" class="BGGiftbox" /></div>
            <div class="col-6">
                <div class="login_div">
                    <h1>Happy New Yaer 2020</h1>
                    <h1>@Session["Name"].ToString()</h1>
                    @if (ViewBag.ans != 1)
                    {
                        using (Html.BeginForm("AnswerSand", "Home", FormMethod.Post, new { id = "Answer", enctype = "multipart/form-data" }))
                        {
                            <table>
                                <tr>
                                    <td>
                                        <input type="hidden" name="UserID" value="@Session["IDUser"]" />
                                        <span>
                                            Give To
                                        </span>
                                    </td>
                                    <td>
                                        <select name="ReceiverID">
                                            @foreach (var item_receiver in ViewBag.ListUser)
                                            {
                                                <option value="@item_receiver.ID">
                                                    @item_receiver.Name
                                                </option>
                                            }
                                        </select>
                                    </td>
                                    <td><button type="submit" class="BTNSubmit">Send</button></td>
                                </tr>
                            </table>
                        }
                    }
                    else
                    {
                        <table>
                            <tr>
                                <td>
                                    <input type="hidden" name="UserID" value="@Session["IDUser"]" />
                                    <span>
                                        Give To
                                    </span>
                                </td>
                                <td>
                                    <div class="ansed" id="ansed-1024">
                                        @ViewBag.ansed
                                    </div>
                                </td>
                                @using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { id = "Edit", enctype = "multipart/form-data" }))
                                {
                                    <td>
                                        <div id="myForm-1024">
                                            <table style="margin:0;">
                                                <tr>
                                                    <td colspan="2">
                                                        <input type="hidden" name="UserID" value="@Session["IDUser"]" />
                                                        <select name="ReceiverID">
                                                            @foreach (var item_receiver in ViewBag.ListUser)
                                                            {
                                                                <option value="@item_receiver.ID">
                                                                    @item_receiver.Name
                                                                </option>
                                                            }
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <button type="submit" class="BTNSubmit">Save</button>

                                                    </td>
                                                    <td>
                                                        <button type="button" class="BTNDelete" onclick="closeForm_1024()">Close</button>

                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>

                                }
                                <td id="ansed-1024">
                                    <div>
                                        <button class="BTNSubmit" id="btn_edit-1024" onclick="openForm_1024()">Edit</button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    }

                    @if (@ViewBag.Meg == 0)
                    {
                        <a href="@Url.Action("Index", "Predict")"><button class="BTNSelect">Select</button></a>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", "Show")"><button class="BTNSelect">Results</button></a>
                    }
                    <a href="@Url.Action("Logout", "Login")"><button class="BTNLogout">Logout</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="div-768">
        <div class="row">
            <div class="col-6"><img src="~/Images/15-01.png" class="BGGiftbox" /></div>
            <div class="col-6">
                <div class="login_div">
                    <h1>Happy New Yaer 2020</h1>
                    <h1>@Session["Name"].ToString()</h1>
                    @if (ViewBag.ans != 1 || ViewBag.Meg != 1)
                    {
                        using (Html.BeginForm("AnswerSand", "Home", FormMethod.Post, new { id = "Answer", enctype = "multipart/form-data" }))
                        {
                    <table>
                        <tr>
                            <td>
                                <input type="hidden" name="UserID" value="@Session["IDUser"]" />
                                <span>
                                    Give To
                                </span>
                            </td>
                            <td>
                                <select name="ReceiverID">
                                    @foreach (var item_receiver in ViewBag.ListUser)
                                            {
                                            <option value="@item_receiver.ID">
                                                @item_receiver.Name
                                            </option>
                                            }
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><button type="submit" class="BTNSubmit">Send</button></td>
                        </tr>
                    </table>
                        }
                    }
                    else
                    {
                    <table>
                        <tr>
                            <td>
                                <input type="hidden" name="UserID" value="@Session["IDUser"]" />
                                <span>
                                    Give To
                                </span>
                            </td>
                            <td>
                                <div class="ansed" id="ansed-768">
                                    @ViewBag.ansed
                                </div>
                            </td>
                            @using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { id = "Edit", enctype = "multipart/form-data" }))
                                {
                                <td>
                                    <div id="myForm-768">
                                        <table style="margin:0;">
                                            <tr>
                                                <td colspan="2">
                                                    <input type="hidden" name="UserID" value="@Session["IDUser"]" />
                                                    <select name="ReceiverID">
                                                        @foreach (var item_receiver in ViewBag.ListUser)
                                                            {
                                                            <option value="@item_receiver.ID">
                                                                @item_receiver.Name
                                                            </option>
                                                            }
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <button type="submit" class="BTNSubmit">Save</button>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <button type="button" class="BTNDelete" onclick="closeForm_768()">Close</button>

                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>

                                }
                            <td id="ansed-768">
                                <div>
                                    <button class="BTNSubmit" id="btn_edit-768" onclick="openForm_768()">Edit</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                    }

                    @if (@ViewBag.Meg == 0)
                    {
                    <a href="@Url.Action("Index", "Predict")"><button class="BTNSelect">Select</button></a>
                    }
                    else
                    {
                    <a href="@Url.Action("Index", "Show")"><button class="BTNSelect">Results</button></a>
                    }
                    <a href="@Url.Action("Logout", "Login")"><button class="BTNLogout">Logout</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="div-425">
        <div class="row">
            <div class="col-12">
                <div class="login_div">
                    <h1>Happy New Yaer 2020</h1>
                    <h1>@Session["Name"].ToString()</h1>
                    @if (ViewBag.ans != 1 || ViewBag.Meg != 1)
                    {
                        using (Html.BeginForm("AnswerSand", "Home", FormMethod.Post, new { id = "Answer", enctype = "multipart/form-data" }))
                        {
                            <table>
                                <tr>
                                    <td>
                                        <input type="hidden" name="UserID" value="@Session["IDUser"]" />
                                        <span>
                                            Give To
                                        </span>
                                    </td>
                                    <td>
                                        <select name="ReceiverID">
                                            @foreach (var item_receiver in ViewBag.ListUser)
                                            {
                                                <option value="@item_receiver.ID">
                                                    @item_receiver.Name
                                                </option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"><button type="submit" class="BTNSubmit">Send</button></td>
                                </tr>
                            </table>
                        }
                    }
                    else
                    {
                        <table>
                            <tr>
                                <td>
                                    <input type="hidden" name="UserID" value="@Session["IDUser"]" />
                                    <span>
                                        Give To
                                    </span>
                                </td>
                                <td>
                                    <div class="ansed" id="ansed-425">
                                        @ViewBag.ansed
                                    </div>
                                </td>
                                @using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { id = "Edit", enctype = "multipart/form-data" }))
                                {
                                    <td>
                                        <div id="myForm-425">
                                            <table style="margin:0;">
                                                <tr>
                                                    <td colspan="2">
                                                        <input type="hidden" name="UserID" value="@Session["IDUser"]" />
                                                        <select name="ReceiverID">
                                                            @foreach (var item_receiver in ViewBag.ListUser)
                                                            {
                                                                <option value="@item_receiver.ID">
                                                                    @item_receiver.Name
                                                                </option>
                                                            }
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <button type="submit" class="BTNSubmit">Save</button>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <button type="button" class="BTNDelete" onclick="closeForm_425()">Close</button>

                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>

                                }
                                <td id="ansed-425">
                                    <div>
                                        <button class="BTNSubmit" id="btn_edit-425" onclick="openForm_425()">Edit</button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    }
                    @if (@ViewBag.Meg == 0)
                    {
                        <a href="@Url.Action("Index", "Predict")"><button class="BTNSelect">Select</button></a>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", "Show")"><button class="BTNSelect">Results</button></a>
                    }
                    <a href="@Url.Action("Logout", "Login")"><button class="BTNLogout">Logout</button></a>
                </div>
            </div>
        </div>
    </div>

    <script>
        function openForm_1024() {
            document.getElementById("myForm-1024").style.display = "block";
            document.getElementById("ansed-1024").style.display = "none";
            document.getElementById("btn_edit-1024").style.display = "none";
        }

        function closeForm_1024() {
            document.getElementById("myForm-1024").style.display = "none";
            document.getElementById("ansed-1024").style.display = "block";
            document.getElementById("btn_edit-1024").style.display = "block";
        }

        function openForm_768() {
            document.getElementById("myForm-768").style.display = "block";
            document.getElementById("ansed-768").style.display = "none";
            document.getElementById("btn_edit-768").style.display = "none";
        }

        function closeForm_768() {
            document.getElementById("myForm-768").style.display = "none";
            document.getElementById("ansed-768").style.display = "block";
            document.getElementById("btn_edit-768").style.display = "block";
        }

        function openForm_425() {
            document.getElementById("myForm-425").style.display = "block";
            document.getElementById("ansed-425").style.display = "none";
            document.getElementById("btn_edit-425").style.display = "none";
        }

        function closeForm_425() {
            document.getElementById("myForm-425").style.display = "none";
            document.getElementById("ansed-425").style.display = "block";
            document.getElementById("btn_edit-425").style.display = "block";
        }
    </script>
</body>
</html>
