﻿@model Models.UserModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <meta charset="UTF-8">

    <style>
        html, body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            color: #000000;
            background-color: #EBE5DC;
            margin: 0px;
            padding: 0px;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: Arial, Helvetica, sans-serif;
            margin: 10px 0px 10px 0px;
            text-align: center;
        }

        .row {
            display: flex;
            padding: 0px;
            margin: 0px;
        }

        .col-1 {
            width: 8.33%;
        }

        .col-2 {
            width: 16.66%;
        }

        .col-3 {
            width: 25%;
        }

        .col-4 {
            width: 33.33%;
        }

        .col-5 {
            width: 41.66%;
        }

        .col-6 {
            width: 50%;
        }

        .col-7 {
            width: 58.33%;
        }

        .col-8 {
            width: 66.66%;
        }

        .col-9 {
            width: 75%;
        }

        .col-10 {
            width: 83.33%;
        }

        .col-11 {
            width: 91.66%;
        }

        .col-12 {
            width: 100%;
        }

        .BGGiftbox {
            display: block;
            margin: auto;
            box-shadow: 3px 3px 25px 3px rgba(50, 50, 50, .2);
        }

        .login_div {
            display: table;
            margin: 100px 0;
            width: 400px;
        }

        table {
            width: 100%;
        }

        td {
            padding: 5px;
        }

        .BTNSubmit {
            cursor: pointer;
            width: 100%;
            color: white;
            padding: 10px;
            background-color: #333333;
            border: none;
            text-decoration-line: none;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
        }

            .BTNSubmit:hover {
                background-color: #333344;
            }


        input[type="text"], input[type="password"] {
            padding: 12px 7px 12px 20px;
            width: 90%;
            font-size: 14px;
            border: none;
            background-color: #FAF6F5;
        }

        a {
            text-decoration: none;
            color: #666666;
        }

            a:hover {
                color: #CB5454;
            }

        .div-425, .div-768 {
            display: none;
        }

        @@media screen and (max-width: 1440px) {
        }

        @@media screen and (max-width: 1024px) {
        }

        @@media screen and (max-width: 768px) {
            .div-1024, .div-425 {
                display: none;
            }

            .div-768 {
                display: table;
                width: 100%;
            }

            .BGGiftbox {
                width: 80%;
                display: block;
                margin: auto;
                box-shadow: 3px 3px 25px 3px rgba(50, 50, 50, .2);
            }

            .login_div {
                display: table;
                width: 80%;
                margin: 20% 0px;
            }
        }

        @@media screen and (max-width: 425px) {
            .div-1024, .div-768 {
                display: none;
            }

            .div-425 {
                display: table;
                width: 100%;
            }

            .login_div {
                display: table;
                width: 80%;
                margin: 20% auto;
            }

            td {
                padding: 5px 0;
            }
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { id = "Login", enctype = "multipart/form-data" }))
    {
        <div class="div-1024">
            <div class="row">
                <div class="col-6"><img src="~/Images/15-01.png" class="BGGiftbox" /></div>
                <div class="col-6">
                    <div class="login_div">
                        <h1>Sign In</h1>
                        <table>
                            <tr>
                                <td>Username</td>
                                <td><input class="input" name="Username" type="text" placeholder="Username" /></td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center" style="color:#CB5454">@Html.ValidationMessageFor(model => model.Username)</td>
                            </tr>
                            <tr>
                                <td>Password</td>
                                <td><input class="input" name="Password" type="password" placeholder="Password" /></td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center" style="color:#CB5454">@Html.ValidationMessageFor(model => model.Password)</td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center" style="color:#CB5454">@Html.DisplayFor(model => model.LoginErrorMsg)</td>
                            </tr>
                            <tr>
                                <td colspan="2"><input type="submit" value="Login" class="BTNSubmit" /></td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    <p>
                                        I don't have an account.
                                        <a href="@Url.Action("Index","Register")">Sign Up</a>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }

    @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { id = "Login", enctype = "multipart/form-data" }))
    {
        <div class="div-768">
            <div class="row">
                <div class="col-6"><img src="~/Images/15-01.png" class="BGGiftbox" /></div>
                <div class="col-6">
                    <div class="login_div">
                        <h1>Sign In</h1>
                        <table>
                            <tr>
                                <td>Username</td>
                            </tr>
                            <tr>
                                <td><input class="input" name="Username" type="text" placeholder="Username" /></td>
                            </tr>
                            <tr>
                                <td align="center" style="color:#CB5454">@Html.ValidationMessageFor(model => model.Username)</td>
                            </tr>
                            <tr>
                                <td>Password</td>
                            </tr>
                            <tr>
                                <td><input class="input" name="Password" type="password" placeholder="Password" /></td>
                            </tr>
                            <tr>
                                <td align="center" style="color:#CB5454">@Html.ValidationMessageFor(model => model.Password)</td>
                            </tr>
                            <tr>
                                <td align="center" style="color:#CB5454">@Html.DisplayFor(model => model.LoginErrorMsg)</td>
                            </tr>
                            <tr>
                                <td><input type="submit" value="Login" class="BTNSubmit" /></td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <p>
                                        I don't have an account.
                                        <a href="@Url.Action("Index","Register")">Sign Up</a>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }


    @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { id = "Login", enctype = "multipart/form-data" }))
    {
        <div class="div-425">
            <div class="row">
                <div class="col-12">
                    <div class="login_div">
                        <h1>Sign In</h1>
                        <table>
                            <tr>
                                <td>Username</td>
                            </tr>
                            <tr>
                                <td><input class="input" name="Username" type="text" placeholder="Username" /></td>
                            </tr>
                            <tr>
                                <td align="center" style="color:#CB5454">@Html.ValidationMessageFor(model => model.Username)</td>
                            </tr>
                            <tr>
                                <td>Password</td>
                            </tr>
                            <tr>
                                <td><input class="input" name="Password" type="password" placeholder="Password" /></td>
                            </tr>
                            <tr>
                                <td align="center" style="color:#CB5454">@Html.ValidationMessageFor(model => model.Password)</td>
                            </tr>
                            <tr>
                                <td align="center" style="color:#CB5454">@Html.DisplayFor(model => model.LoginErrorMsg)</td>
                            </tr>
                            <tr>
                                <td><input type="submit" value="Login" class="BTNSubmit" /></td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <p>
                                        I don't have an account.
                                        <a href="@Url.Action("Index","Register")">Sign Up</a>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }

    <!--===============================================================================================-->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <!--===============================================================================================-->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->

</body>
</html>