﻿<!DOCTYPE html>
<html>
@*  @{
    if (System.Web.HttpContext.Current.Session["Permission"] == null)
    {
        string url = @Request.Url.AbsoluteUri;//@Url.Content("~/Home/Index");
        Response.Redirect(url, true);// @Url.Content("~/Home/Index");
    }
    } *@
<head>
    <title></title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.2.js"></script>
    @* <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery-1.9.1.js"></script>
        <script src="~/Scripts/jquery-1.9.1.min.js"></script>
        <script src="~/Scripts/jquery.placeholder.min.js"></script>
    *@
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Scripts/CHO.js"></script>
    <link href="~/Content/CHO.css" rel="stylesheet" />

    <script src="~/Scripts/canvasjs.min.js"></script>
    <script src="~/Scripts/js/fusioncharts.js"></script>

    <link href="~/StyleSheets/center-color.css" rel="stylesheet" />

    <script>

        $(function () {
            //$(".datepicker").datepicker();
        });
    </script>
    @RenderSection("styles", required: false)

    <style>

    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
input[type=number]::-webkit-outer-spin-button,
/*input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}*/

/*.number{
    input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: "" ;
    margin: 0;
}*/
input[type=number] {
    -moz-appearance:textfield;
}

        .imghome {
            padding-top: 50%;
            height: 30px;
            width: auto;
        }

        .home {
            width: 100%;
            height: 100%;
            /* Firefox */
            display: -moz-box;
            -moz-box-pack: center;
            -moz-box-align: center;
            /* Safari and Chrome  */
            display: -webkit-box;
            -webkit-box-pack: center;
            -webkit-box-align: center;
        }

    </style>
</head>
<body>



    @*<div class="modal fade" id="myloading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="width:800px;left:-150px">
                <img src="@Url.Content("~/Content/Loading/loadding.gif")" id="irc_mi" height="30" width="30">@Resources.Resource.Pleasewait
            </div>
        </div>
    </div>*@
    
        @RenderBody()
        @RenderSection("scripts", required: false)
    
        @*        <footer>
                <p>&copy; @DateTime.Now.Year - INFINITE Appication</p>
            </footer>*@
  

    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script>

       



    </script>

</body>
</html>
