﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AnswerTable</title>
</head>
<body>
    <div> 
        AnswerTable

        <div class="row">
            <div class="col-2">
                <table>
                    @foreach (var item_giver in ViewBag.ListGiver)
                    {
                        <tr>
                            <td value="@item_giver.IDGiver" style="float:right;">
                                @item_giver.NameGiver
                            </td>

                        </tr>
                    }
                </table>
            </div>
            <div class="col-2">
                <table>
                    @foreach (var item_Answer in ViewBag.Receiver)
                    {
                        <tr>
                            <td>
                                @item_Answer
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        @ViewBag.DataAns
    </div>
</body>
</html>
