﻿@model List<Models.UserModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Select</title>
    <style>
        html, body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            color: #000000;
            background-color: #EBE5DC;
            margin: 0px;
            padding: 0px;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: Arial, Helvetica, sans-serif;
            margin: 10px 0px 10px 0px;
            text-align: center;
        }

        .row {
            display: flex;
            padding: 0px;
            margin: 0px;
        }

        .col-1 {
            width: 8.33%;
        }

        .col-2 {
            width: 16.66%;
        }

        .col-3 {
            width: 25%;
        }

        .col-4 {
            width: 33.33%;
        }

        .col-5 {
            width: 41.66%;
        }

        .col-6 {
            width: 50%;
        }

        .col-7 {
            width: 58.33%;
        }

        .col-8 {
            width: 66.66%;
        }

        .col-9 {
            width: 75%;
        }

        .col-10 {
            width: 83.33%;
        }

        .col-11 {
            width: 91.66%;
        }

        .col-12 {
            width: 100%;
        }

        .BGGiftbox {
            display: block;
            margin: auto;
            box-shadow: 3px 3px 25px 3px rgba(50, 50, 50, .2);
        }

        .login_div {
            display: table;
            margin: 100px 0;
            width: 400px;
        }

        table {
            width: 100%;
        }

        td {
            padding: 5px;
        }

        .BTNSubmit {
            cursor: pointer;
            width: 50%;
            color: white;
            padding: 10px;
            background-color: #333333;
            border: none;
            text-decoration-line: none;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            margin: 50px 10px;
            
        }

            .BTNSubmit:hover {
                background-color: #333344;
            }

        .BTNDelete {
            outline: 0;
            display: inline-block;
            text-align: center;
            cursor: pointer;
            width: 50%;
            color: white;
            padding: 10px;
            background-color: #A74444;
            border: none;
            text-decoration-line: none;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            margin: 50px 10px;
            float: right;
        }

            .BTNDelete:hover {
                background-color: #CB5454;
            }


        input[type="text"], input[type="password"] {
            padding: 12px 7px 12px 20px;
            width: 90%;
            font-size: 14px;
            border: none;
            background-color: #FAF6F5;
        }

        a {
            text-decoration: none;
            color: #666666;
        }

            a:hover {
                color: #CB5454;
            }

        .div-425, .div-768 {
            display: none;
        }

        /*<!===============================!>*/
        .card {
            width: 270px;
            font-family: arial;
            margin: 10px 13px;
            display: inline-block;
        }

        .title {
            font-size: 30px;
            margin: 15px 5px 5px 5px;
            font-weight: bold;
            text-align: center;
        }

        .list {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            background-color: #FAF5F6;
            color: #333333;
            padding: 10px;
            width: 100%;
            font-size: 16px;
        }

        a {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }

        .head {
            font-size: 24px;
        }
        /*<!===============================!>*/
        @@media screen and (max-width: 1440px) {
        }

        @@media screen and (max-width: 1024px) {
             .card {
                width: 300px;
                font-family: arial;
                margin: 10px 19px;
                display: inline-block;
            }
        }

        @@media screen and (max-width: 768px) {
            .div-1024, .div-425 {
                display: none;
            }

            .div-768 {
                display: table;
                width: 100%;
            }

            .BGGiftbox {
                width: 80%;
                display: block;
                margin: auto;
                box-shadow: 3px 3px 25px 3px rgba(50, 50, 50, .2);
            }

            .login_div {
                display: table;
                width: 80%;
                margin: 20% 0px;
            }

            .card {
                width: 300px;
                font-family: arial;
                margin: 10px auto;
                display: block;
            }
        }

        @@media screen and (max-width: 425px) {
            .div-1024, .div-768 {
                display: none;
            }

            .div-425 {
                display: table;
                width: 100%;
            }

            .login_div {
                display: table;
                width: 80%;
                margin: 20% 40px;
            }

            td {
                padding: 5px 0;
            }

            .card {
                width: 100%;
                font-family: arial;
                margin: 10px auto;
                display: block;
            }

            .BTNSubmit {
                cursor: pointer;
                width: 100%;
                color: white;
                padding: 10px;
                background-color: #333333;
                border: none;
                text-decoration-line: none;
                font-size: 16px;
                font-family: 'Montserrat', sans-serif;
                margin:10px 0;
            }

                .BTNSubmit:hover {
                    background-color: #333344;
                }

            .BTNDelete {
                outline: 0;
                display: inline-block;
                text-align: center;
                cursor: pointer;
                width: 100%;
                color: white;
                padding: 10px;
                background-color: #A74444;
                border: none;
                text-decoration-line: none;
                font-size: 16px;
                font-family: 'Montserrat', sans-serif;
                margin:10px 0px;
            }

                .BTNDelete:hover {
                    background-color: #CB5454;
                }
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("Selection", "Predict", FormMethod.Post, new { id = "Selection", enctype = "multipart/form-data" }))
    {
        <div class="div-1024">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <h1>Select</h1>

                    @foreach (var items in Model)
                    {
                    <div class="card">
                        <p class="title">
                            <input type="hidden" value="@items.ID" name="GiverID" />
                            @items.Name
                        </p>
                        <p style="text-align:center;">give to</p>
                        <select name="ReceiverID" class="list">
                            @foreach (var item_receiver in ViewBag.ListUser)
                                {
                                <option value="@item_receiver.ID">
                                    @item_receiver.Name
                                </option>
                                }
                        </select>
                    </div>
                    }

                    <div class="row">
                        <div class="col-6">
                            
                            <button type="reset" class="BTNDelete">Reset</button>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="BTNSubmit">Comfirm</button>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    }

    @using (Html.BeginForm("Selection", "Predict", FormMethod.Post, new { id = "Selection", enctype = "multipart/form-data" }))
    {
        <div class="div-768">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <h1>Select</h1>

                    @foreach (var items in Model)
                    {
                    <div class="card">
                        <p class="title">
                            <input type="hidden" value="@items.ID" name="GiverID" />
                            @items.Name
                        </p>
                        <p style="text-align:center;">give to</p>
                        <select name="ReceiverID" class="list">
                            @foreach (var item_receiver in ViewBag.ListUser)
                                {
                                <option value="@item_receiver.ID">
                                    @item_receiver.Name
                                </option>
                                }
                        </select>
                    </div>
                    }

                    <div class="row">
                        <div class="col-6">
                            
                            <button type="reset" class="BTNDelete">Reset</button>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="BTNSubmit">Comfirm</button>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    }

    @using (Html.BeginForm("Selection", "Predict", FormMethod.Post, new { id = "Selection", enctype = "multipart/form-data" }))
    {
        <div class="div-425">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <h1>Select</h1>

                    @foreach (var items in Model)
                    {
                        <div class="card">
                            <p class="title">
                                <input type="hidden" value="@items.ID" name="GiverID" />
                                @items.Name
                            </p>
                            <p style="text-align:center;">give to</p>
                            <select name="ReceiverID" class="list">
                                @foreach (var item_receiver in ViewBag.ListUser)
                                {
                                    <option value="@item_receiver.ID">
                                        @item_receiver.Name
                                    </option>
                                }
                            </select>
                        </div>
                    }

                    <div class="row">
                        <div class="col-12">
                            <button type="reset" class="BTNDelete">Reset</button>
                            <button type="submit" class="BTNSubmit">Comfirm</button>

                        </div>

                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    }

</body>
</html>
