﻿@model Models.SelectionShow
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Results</title>
    <style>
        html, body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            color: #000000;
            background-color: #EBE5DC;
            margin: 0px;
            padding: 0px;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: Arial, Helvetica, sans-serif;
            margin: 10px 0px 10px 0px;
            text-align: center;
        }

        .row {
            display: flex;
            padding: 0px;
            margin: 0px;
        }

        .col-1 {
            width: 8.33%;
        }

        .col-2 {
            width: 16.66%;
        }

        .col-3 {
            width: 25%;
        }

        .col-4 {
            width: 33.33%;
        }

        .col-5 {
            width: 41.66%;
        }

        .col-6 {
            width: 50%;
        }

        .col-7 {
            width: 58.33%;
        }

        .col-8 {
            width: 66.66%;
        }

        .col-9 {
            width: 75%;
        }

        .col-10 {
            width: 83.33%;
        }

        .col-11 {
            width: 91.66%;
        }

        .col-12 {
            width: 100%;
        }

        img {
            width: 22px;
        }

        .login_div {
            display: table;
            float: right;
            margin: 100px 0;
            width: 400px;
        }

        table {
            width: 100%;
            margin-top: 50px;
        }

        td {
            padding: 5px;
            width: 100px;
        }

            /*tr:nth-child(even) {
                background-color: #f2f2f2;
            }*/

        .BTNSubmit {
            cursor: pointer;
            width: 50%;
            color: white;
            padding: 10px;
            background-color: #333333;
            border: none;
            text-decoration-line: none;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            float: right;
        }

            .BTNSubmit:hover {
                background-color: #333344;
            }

        .BTNLogout {
            cursor: pointer;
            width: 50%;
            color: #333333;
            padding: 10px;
            border: none;
            background-color: transparent;
            text-decoration-line: none;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            transition: .3s;
        }

            .BTNLogout:hover {
                color: #CB5454;
            }


        input[type="text"], input[type="password"] {
            padding: 12px 7px 12px 20px;
            width: 90%;
            font-size: 14px;
            border: none;
            background-color: #FAF6F5;
        }

        a {
            text-decoration: none;
            color: #666666;
        }

            a:hover {
                color: #CB5454;
            }

        .div-425, .div-768 {
            display: none;
        }

        @@media screen and (max-width: 1440px) {
        }

        @@media screen and (max-width: 1024px) {
        }

        @@media screen and (max-width: 768px) {
            .div-1024, .div-425 {
                display: none;
            }

            .div-768 {
                display: table;
                width: 100%;
            }

            .BGGiftbox {
                width: 80%;
                display: block;
                margin: auto;
                box-shadow: 3px 3px 25px 3px rgba(50, 50, 50, .2);
            }

            .login_div {
                display: table;
                width: 80%;
                margin: 20% 0px;
            }

            img {
                width: 18px;
                float: left;
                margin-left: 10px;
            }
        }

        @@media screen and (max-width: 425px) {
            .div-1024, .div-768 {
                display: none;
            }

            .div-425 {
                display: table;
                width: 100%;
            }

            .login_div {
                display: table;
                width: 80%;
                margin: 20% 40px;
            }

            td {
                padding: 5px 0;
            }
            .BTNSubmit {
            cursor: pointer;
            width: 50%;
            color: white;
            padding: 10px;
            background-color: #333333;
            border: none;
            text-decoration-line: none;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            display:block;
            margin:10px auto;
            float:none;
        }

            .BTNSubmit:hover {
                background-color: #333344;
            }

        .BTNLogout {
            cursor: pointer;
            width: 100%;
            color: #333333;
            padding: 10px;
            border: none;
            background-color: transparent;
            text-decoration-line: none;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            transition: .3s;
        }

            .BTNLogout:hover {
                color: #CB5454;
            }

        }
    </style>

</head>
<body>
    <div class="div-1024">
        <div class="row">
            <div class="col-12">
                <h1>Detail</h1>
                <h4>Correct : @ViewBag.money * 20 = @ViewBag.total฿</h4>
                <div class="row">
                    <div class="col-6"><a href="@Url.Action("Index", "Show" )"><button class="BTNSubmit">Show Answer</button></a></div>
                    <div class="col-6"><a href="@Url.Action("Logout", "Login" )"><button class="BTNLogout">Logout</button></a></div>
                </div>
                <table>
                    <tr>
                        <th>Giver</th>
                        @foreach (var itemGiver in Model.GiverName)
                        {
                        <td style="text-align:center">@itemGiver</td>
                        }
                    </tr>
                    <tr>
                        <th>Receiver</th>
                        @foreach (var itemReceiverID in Model.ReceiverName)
                        {
                        <td style="text-align:center">@itemReceiverID</td>

                        }
                    </tr>
                    <tr>
                        <th>Result</th>
                        @foreach (var itemSelect in Model.Status)
                        {
                            if (itemSelect == false)
                            {
                        <td style="text-align:center"><img src="https://image.flaticon.com/icons/png/512/1828/1828666.png" /></td>

                            }
                            else
                            {
                        <td style="text-align:center"><img src="https://image.flaticon.com/icons/png/512/1828/1828643.png" /></td>

                            }
                        }
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="div-768">
        <div class="row">
            <div class="col-12">
                <h1>Detail</h1>
                <h4>Correct : @ViewBag.money * 20 = @ViewBag.total฿</h4>
                <div class="row">
                    <div class="col-6"><a href="@Url.Action("Index", "Show" )"><button class="BTNSubmit">Show Answer</button></a></div>
                    <div class="col-6"><a href="@Url.Action("Logout", "Login" )"><button class="BTNLogout">Logout</button></a></div>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-2">
                        <table>
                            <tr>
                                <th style="text-align:right">Giver</th>
                            </tr>

                            @foreach (var itemGiver in Model.GiverName)
                            {
                                <tr>
                                    <td style="text-align:right">@itemGiver</td>
                                </tr>
                            }

                        </table>
                    </div>
                    <div class="col-2">
                        <table>
                            <tr>
                                <th>Receiver</th>
                            </tr>
                            @foreach (var itemReceiverID in Model.ReceiverName)
                            {
                                <tr>
                                    <td style="text-align:center">@itemReceiverID</td>
                                </tr>
                            }
                        </table>
                    </div>
                    <div class="col-2">
                        <table>
                            <tr>
                                <th style="text-align:left">Result</th>
                            </tr>

                            @foreach (var itemSelect in Model.Status)
                            {
                                if (itemSelect == false)
                                {
                                    <tr>
                                        <td><img src="https://image.flaticon.com/icons/png/512/1828/1828666.png" /></td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td><img src="https://image.flaticon.com/icons/png/512/1828/1828643.png" /></td>
                                    </tr>
                                }
                            }

                        </table>
                    </div>
                    <div class="col-3"></div>
                </div>



            </div>
        </div>
    </div>

    <div class="div-425">
        <div class="row">
            <div class="col-12">
                <h1>Detail</h1>
                <h4>Correct : @ViewBag.money * 20 = @ViewBag.total฿</h4>
                <div class="row">
                    <div class="col-12"><a href="@Url.Action("Index", "Show" )"><button class="BTNSubmit">Show Answer</button></a></div>
                    
                </div>
                <div class="row">
                    <div class="col-12"><a href="@Url.Action("Logout", "Login" )"><button class="BTNLogout">Logout</button></a></div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <table>
                            <tr>
                                <th style="text-align:right">Giver</th>
                            </tr>

                            @foreach (var itemGiver in Model.GiverName)
                            {
                                <tr>
                                    <td style="text-align:right">@itemGiver</td>
                                </tr>
                            }

                        </table>
                    </div>
                    <div class="col-4">
                        <table>
                            <tr>
                                <th>Receiver</th>
                            </tr>
                            @foreach (var itemReceiverID in Model.ReceiverName)
                            {
                                <tr>
                                    <td style="text-align:center">@itemReceiverID</td>
                                </tr>
                            }
                        </table>
                    </div>
                    <div class="col-4">
                        <table>
                            <tr>
                                <th style="text-align:left">Result</th>
                            </tr>

                            @foreach (var itemSelect in Model.Status)
                            {
                                if (itemSelect == false)
                                {
                                    <tr>
                                        <td><img src="https://image.flaticon.com/icons/png/512/1828/1828666.png" /></td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td><img src="https://image.flaticon.com/icons/png/512/1828/1828643.png" /></td>
                                    </tr>
                                }
                            }

                        </table>
                    </div>
                </div>



            </div>
        </div>
    </div>
</body>
</html>
