﻿body {
}

/*menu bar*/

.logolayout {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 30px;
    background-image: url('img/logo-index.png');
}

.munubar {
    color: #502E82 !important;
    background: #20a5de !important;
}

.dropdowncolor {
    color: #2B3990 !important;
    background-color: white !important;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #474883 !important;
    background-color: #f4f5f6 !important;
}

.navbar-default .navbar-brand {
    color: #474883 !important;
}

.dropdown-menu {
    background-color: #f4f5f6 !important;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #333;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}

/*button*/

.btn-primary {
    color: #fff;
    background-color: #20a5de;
    border-color: #20a5de;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
        color: white;
        background-color: #87cefa;
        border-color: #87cefa;
    }

.btn:hover, .btn:focus {
    color: #333;
    text-decoration: none;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #FFFFFF;
    cursor: default;
    background-color: #20a5de;
    border-color: #20a5de;
}

a, a:hover {
    color: #2B3990;
    text-decoration: none;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn{
    border-radius: 90px;
}
.badge {
    color: #fff;
    background-color: #999;
}

/*report*/

.reportHeader {
    color: #1ba1db;
}

.k-header, .k-grid-header, .k-toolbar, .k-dropdown-wrap, .k-picker-wrap, .k-numeric-wrap, .k-grouping-header, .k-pager-wrap, .k-textbox, .k-button, .k-draghandle, .k-autocomplete, .k-state-highlight, .k-tabstrip-items .k-item {
    background-image: url(textures/highlight.png);
    background-image: none,-webkit-linear-gradient(top,#E7DDED 0,#DACDE5 100%);
    background-image: none,-moz-linear-gradient(top,#eaf4f9 0,#dbecf4 100%);
    background-image: none,-o-linear-gradient(top,#eaf4f9 0,#dbecf4 100%);
    background-image: none,linear-gradient(to bottom,#20a5de 0,#72C6EA 100%) !important;
    background-position: 50% 50%;
    background-color: #daecf4;
}

.k-block, .k-header, .k-grid-header, .k-toolbar, .k-grouping-header, .k-pager-wrap, .k-button, .k-draghandle {
    background-color: #20a5de;
}

.k-menu.k-header, .k-menu .k-item {
    border-color: #20a5de !important;
}

/*icon*/
.k-link:link, .k-link:visited, .k-nav-current.k-state-hover .k-link {
    color: #1c187e !important;
}

.k-state-disabled, .k-state-disabled .k-link, .k-state-disabled .k-button, .k-other-month, .k-other-month .k-link, .k-dropzone em, .k-dropzone .k-upload-status, .k-tile-empty strong, .k-slider .k-draghandle {
    color: #192a8d !important;
}

.k-state-selected {
    -webkit-box-shadow: inset 0 0 8px #72C6EA;
    box-shadow: inset 0 0 8px #72C6EA !important;
}

.k-state-selected, .k-button:active, .k-draghandle.k-state-selected:hover {
    background-image: url(textures/highlight.png);
    background-image: none,-webkit-linear-gradient(top,#12739d 0,#58a5c6 100%);
    background-image: none,-moz-linear-gradient(top,#12739d 0,#58a5c6 100%);
    background-image: none,-o-linear-gradient(top,#12739d 0,#58a5c6 100%);
    background-image: none,linear-gradient(to bottom,#72C6EA 0,#72C6EA 100%) !important;
}

.k-menu .k-group {
    border-color: #72C6EA !important;
}

.k-button:hover, .k-button:focus, .k-button.k-state-focused, .k-textbox:hover, .k-state-hover, .k-state-hover:hover, .k-pager-wrap .k-link:hover, .k-other-month.k-state-hover .k-link, div.k-imagebrowser-dropzone em, .k-draghandle:hover {
    background-image: none,linear-gradient(to bottom,#72C6EA 0,#72C6EA 100%) !important;
}

.k-group, .k-toolbar, .k-grouping-header, .k-pager-wrap, .k-group-footer td, .k-grid-footer, .k-footer-template td, .k-widget .k-status, .k-calendar th, .k-dropzone-hovered, .k-widget.k-popup {
    background-color: #f4f5f6 !important;
}

.k-block, .k-header, .k-grid-header, .k-toolbar, .k-grouping-header, .k-pager-wrap, .k-button, .k-draghandle {
    background-color: transparent !important;
}

/*end report*/
/**********************************************************************/
/*View By Branch*/
table.pvtTable thead tr th, table.pvtTable tbody tr th {
    background-color: #72C6EA;
    border: 1px solid #D1D3D4;
    color: #FFFFFF;
}
