﻿.primary-background-color {
    background-color: #20A5DE;
}

.secondary-background-color {
    background-color: #0798D7;
}

.background-color-3 {
    background-color: #46B4E3 !important;
}

.background-color-4 {
    background-color: #72C6EA;
}

.background-color-5 {
    background-color: #f4f5f6;
}

.background-color-6 {
    background-color: #0798D7;
}

.background-color-7 {
    background-color: white;
}

.background-color-8 {
    background-color: #20a5de;
}

.background-color-9 {
    background-color: #20a5de;
}

.primary-txt-color {
    color: #1ba1db;
}

.secondary-txt-color {
    color: #1ba1db;
}

.txt-color-3 {
    color: white;
}

.txt-color-4 {
    color: white;
}

.txt-color-5 {
    color: white;
}

.txt-color-6 {
    color: #263D90;
}

.txt-color-7 {
    color: #263D90;
}

.ddl {
    border-color: #20a5de;
    color: #20a5de;
    background-color: white;
}

.border-primary-color {
    border-color: #263D90 !important;
}

.opposite-background-color {
    background-color: #046B97;
}

.opposite-background-color-2 {
    background-color: #0D767F;
}
