﻿.divguagechartdetail {
    color: black;
}

.divcontrainerguage {
    color: #20a5de;
}

#divincriteria {
    color: #502E82;
    background: #20a5de;
}

.labelcriteria {
    color: white;
}

.criteriainput {
    color: gray;
}

#inputtime {
    color: white;
    background-color: transparent;
}

#inputdate {
    color: white;
    background-color: transparent;
}

#divheader2 {
    color: #2B3990;
    background: #72C6EA;
    border-color: #7674B1;
}

#divheader3 {
    color: #2B3990;
    background: #72C6EA;
    border-color: #7674B1;
}

#divline1 {
    border-color: rgba(220, 220, 220, 0);
}

#divline2 {
    border-color: rgba(220, 220, 220, 0);
}

#divdetail {
    border-color: rgba(220, 220, 220, 0);
}

#divdetail1 {
    border-color: rgba(220, 220, 220, 0);
}

#divdetail2 {
    border-color: rgba(220, 220, 220, 0);
}

#divdetailmini {
    border-color: rgba(220, 220, 220, 0);
}

#div1 {
    color: #2A388F;
}

#div2 {
    color: #20a5de;
}

#div11 {
    color: #1ba1db;
}

#inputBranch, #inputQServed, #inputQWaiting, #inputCounter {
    color: #1ba1db;
    background-color: transparent;
}

#inputQServed {
    color: white;
    background-color: transparent;
}

input {
    color: #502E82;
    background-color: transparent;
}

#divdetail3 {
    border-color: #A7A9AC;
}

#chp {
    border-color: #A7A9AC;
}

.dashboard-header {
    background-color: #C8C6E0;
    border-color: #7674B1;
}

.dashboard-contrainner {
    border-color: #A7A9AC;
}

.dashboard-header-txt {
    color: white;
}
