﻿    #divleft {
        background-color: #C7C4E2 !important;
    }

    #divright {
        background: #51559F;
    }

    #divright1 {
        background: #7674B1;
    }

    #divright2 {
        background: #9B98C6;
    }

    .color1 {
        background: #3e73c1;
    }

    .txt1 {
        color: #2B3990;
    }

    .txt2 {
        color: #2B3990;
    }

    .txt3 {
        color: #FFFFFF;
    }

    .txt5 {
        color: #081998;
    }

    .txt6 {
        color: #FFFFFF;
    }

    .imghome {
        height: 30%;
    }

    .imguser1 {
        width: 10%;
        float: right;
        position: relative;
        bottom: 1px;
    }

    .color {
        background-color: #9b2d2d;
    }

    #inputdate {
        color: white;
    }

    #inputtime {
        color: white;
    }

    #inputBranch {
        color: #2B3990;
    }

    input {
        color: #262261;
        background-color: transparent;
    }

    #div1 {
        background-color: #2B3990;
    }

    #divfooter {
        background-color: #2E3192;
    }

    #inputQWait {
        color: #ffffff;
    }

    #inputQServed {
        color: #FFFFFF;
    }
    #inputQAbandon {
        color: #2B3990;
    }

    .qtxt1
    {
        color:white;
    }
    .qtxt12
    {
        color:white;
    }
    .qtxt2
    {
        color:white;
    }
    .qtxt21
    {
        color:white;
    }
    .qtxt3
    {
        color:white;
    }
    .qtxt31
    {
        color:#2B3990;
    }
    .bbg
    {
        background-color:#7674B1;
        color:#2B3990;
    }
    .bbg1
    {
        background-color:#9B98C6;
    }
