﻿#divleft {
    background-color: #20a5de;
}

#divright {
    background-color: #f4f5f6;
}

.fontLogin {
    color: white;
}

#inputsubmit {
    background-color: #20a5de;
    color: white;
}

#LoginError {
    color: #F9AC1A;
}

::placeholder { /* Firefox FFDCAE */
    color: #C8C6E0;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #C8C6E0;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #C8C6E0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid green;
    -webkit-text-fill-color: #C8C6E0;
    -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
    transition: background-color 5000s ease-in-out 0s;
}

.txtname {
    color: #1ba1db;
}

.txtname1 {
    color: #1ba1db;
}

.txtlogin {
    color: #1ba1db;
}
