﻿.inlabel {
    background-color: #B2DFB5 !important;
    color: #2D8633 !important;
}
#bottonlistbox1, #bottonlistbox5{
    background-image: url(../StyleSheets/img/viarrow11.png) !important;
    background-color: #B2DFB5 !important;
}
#bottonlistbox2,#bottonlistbox6{
    background-image: url(../StyleSheets/img/viarrow10.png) !important;
    background-color: #B2DFB5 !important;
}
#bottonlistbox3,#bottonlistbox7{
    background-image: url(../StyleSheets/img/viarrow12.png) !important;
    background-color: #B2DFB5 !important;
}
#bottonlistbox4,#bottonlistbox8 {
    background-image: url(../StyleSheets/img/viarrow9.png) !important;
    background-color: #B2DFB5 !important;
}