﻿h2 {
    color: #2B3990;
}

div.tab {
    background-color: #D5DBE0;
}

    div.tab button {
        background-color: inherit;
        color: #2B3990;
    }

        div.tab button:hover {
            background-color: #ddd;
        }

        div.tab button.active {
            background-color: transparent;
            color: white;
        }

.tabcontent {
    background-color: #F3F1F8;
}

.div1 {
    background-color: #DBDAEB;
}

.div2 {
    background-color: white;
    border-color: #D1D3D4;
}

.div3 {
    background-color: #D5DBE0;
}


.div4 {
    background-color: white;
    border-color: #D1D3D4;
}

.hr {
    border-top: 1px solid #523d98;
    border-top-color: #A7A9AC;
}

input.invalid {
    background-color: #ffdddd;
    border-color: darkgrey;
}

.invalid {
    background-color: #ffdddd !important;
}

.open .dropdown-toggle.btn-default {
    background-color: white; /*!important;*/
}

.btn-primary[disabled] {
    background-color: #7674B1;
    border-color: #51559F;
}

.headertxt {
    color: #2B3990;
}
