﻿@model List<Models.AnswerModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Answer</title>
    <style>
        html, body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            color: #000000;
            background-color: #EBE5DC;
            margin: 0px;
            padding: 0px;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: Arial, Helvetica, sans-serif;
            margin: 10px 0px 10px 0px;
            text-align: center;
        }

        .row {
            display: flex;
            padding: 0px;
            margin: 0px;
        }

        .col-1 {
            width: 8.33%;
        }

        .col-2 {
            width: 16.66%;
        }

        .col-3 {
            width: 25%;
        }

        .col-4 {
            width: 33.33%;
        }

        .col-5 {
            width: 41.66%;
        }

        .col-6 {
            width: 50%;
        }

        .col-7 {
            width: 58.33%;
        }

        .col-8 {
            width: 66.66%;
        }

        .col-9 {
            width: 75%;
        }

        .col-10 {
            width: 83.33%;
        }

        .col-11 {
            width: 91.66%;
        }

        .col-12 {
            width: 100%;
        }

        img {
            width: 22px;
        }

        .login_div {
            display: table;
            float: right;
            margin: 100px 0;
            width: 400px;
        }

        table {
            width: 100%;
            margin-top: 50px;
        }

        td, th {
            padding: 5px;
            width: 100px;
            text-align: center;
        }

        th {
            border-right: 1px solid #ccc;
        }

        td:nth-child(odd) {
            background-color: #FAF5F6;
        }

        .BTNSubmit {
            cursor: pointer;
            width: 50%;
            color: white;
            padding: 10px;
            background-color: #333333;
            border: none;
            text-decoration-line: none;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            float: right;
        }

            .BTNSubmit:hover {
                background-color: #333344;
            }

        .BTNLogout {
            cursor: pointer;
            width: 50%;
            color: #333333;
            padding: 10px;
            border: none;
            background-color: transparent;
            text-decoration-line: none;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            transition: .3s;
        }

            .BTNLogout:hover {
                color: #CB5454;
            }


        input[type="text"], input[type="password"] {
            padding: 12px 7px 12px 20px;
            width: 90%;
            font-size: 14px;
            border: none;
            background-color: #FAF6F5;
        }

        a {
            text-decoration: none;
            color: #666666;
        }

            a:hover {
                color: #CB5454;
            }

        .div-425, .div-768 {
            display: none;
        }

        @@media screen and (min-width: 1440px) {
            th {
                border-right: 1px solid #ccc;
            }

            td:nth-child(odd) {
                background-color: #FAF5F6;
            }
        }

        @@media screen and (max-width: 1024px) {
            th {
                border-right: 1px solid #ccc;
            }

            td:nth-child(odd) {
                background-color: #FAF5F6;
            }
        }

        @@media screen and (max-width: 768px) {
            .div-1024, .div-425 {
                display: none;
            }

            .div-768 {
                display: table;
                width: 100%;
            }

            table {
                width: 50%;
                display: table;
                margin: 50px auto;
            }

            th {
                border-bottom: 1px solid #ccc;
                border-right: none;
            }

            tr:nth-child(odd) {
                background-color: #FAF5F6;
            }

            td:nth-child(odd), tr:first-child {
                background-color: transparent;
            }

            .BGGiftbox {
                width: 80%;
                display: block;
                margin: auto;
                box-shadow: 3px 3px 25px 3px rgba(50, 50, 50, .2);
            }

            .login_div {
                display: table;
                width: 80%;
                margin: 20% 0px;
            }

            img {
                width: 18px;
                float: left;
                margin-left: 10px;
            }
        }

        @@media screen and (max-width: 425px) {
            .div-1024, .div-768 {
                display: none;
            }

            .div-425 {
                display: table;
                width: 100%;
            }

            .login_div {
                display: table;
                width: 80%;
                margin: 20% 40px;
            }

            table {
                width: 80%;
                display: table;
                margin: 50px auto;
            }

            td {
                padding: 5px 0;
            }

            .BTNSubmit {
                cursor: pointer;
                width: 50%;
                color: white;
                padding: 10px;
                background-color: #333333;
                border: none;
                text-decoration-line: none;
                font-size: 16px;
                font-family: 'Montserrat', sans-serif;
                display: block;
                margin: 10px auto;
                float: none;
            }

                .BTNSubmit:hover {
                    background-color: #333344;
                }

            .BTNLogout {
                cursor: pointer;
                width: 100%;
                color: #333333;
                padding: 10px;
                border: none;
                background-color: transparent;
                text-decoration-line: none;
                font-size: 16px;
                font-family: 'Montserrat', sans-serif;
                transition: .3s;
            }

                .BTNLogout:hover {
                    color: #CB5454;
                }
        }
    </style>

</head>
<body>
    <div class="div-1024">
        <div class="row">
            <div class="col-12">
                <h1>Answer</h1>
                <div class="row">
                    <div class="col-6"><a href="@Url.Action("Index", "User")"><button class="BTNSubmit">User</button></a></div>
                    <div class="col-6"><a href="@Url.Action("Logout", "Login")"><button class="BTNLogout">Logout</button></a></div>
                </div>
                <table>
                    <tr>
                        <th>Giver</th>
                        @foreach (var item in ViewBag.DataList)
                        {
                        <td>@item.Giver</td>
                        }
                    </tr>
                    <tr>
                        <th>Receiver</th>
                        @foreach (var item in ViewBag.DataList)
                        {
                        <td>@item.Receiver</td>
                        }
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="div-768">
        <div class="row">
            <div class="col-12">
                <h1>Answer</h1>
                <div class="row">
                    <div class="col-6"><a href="@Url.Action("Index", "User")"><button class="BTNSubmit">User</button></a></div>
                    <div class="col-6"><a href="@Url.Action("Logout", "Login")"><button class="BTNLogout">Logout</button></a></div>
                </div>
                <table>
                    <tr>
                        <th>Giver</th>
                        <th>Receiver</th>
                    </tr>

                    @foreach (var item in ViewBag.DataList)
                    {
                        <tr>
                            <td>@item.Giver</td>
                            <td>@item.Receiver</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <div class="div-425">
        <div class="row">
            <div class="col-12">
                <h1>Answer</h1>
                <a href="@Url.Action("Index", "User")"><button class="BTNSubmit">User</button></a>
                <a href="@Url.Action("Logout", "Login")"><button class="BTNLogout">Logout</button></a>
                <table>
                    <tr>
                        <th style="text-align:center">Giver</th>
                        <th style="text-align:center">Receiver</th>
                    </tr>

                    @foreach (var item in ViewBag.DataList)
                    {
                    <tr>
                        <td style="text-align:center">@item.Giver</td>
                        <td style="text-align:center">@item.Receiver</td>
                    </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</body>
</html>
