﻿@model List<Models.ShowModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User</title>
    <style>
        html, body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            color: #000000;
            background-color: #EBE5DC;
            margin: 0px;
            padding: 0px;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: Arial, Helvetica, sans-serif;
            margin: 10px 0px 10px 0px;
            text-align: center;
        }

        .row {
            display: flex;
            padding: 0px;
            margin: 0px;
        }

        .col-1 {
            width: 8.33%;
        }

        .col-2 {
            width: 16.66%;
        }

        .col-3 {
            width: 25%;
        }

        .col-4 {
            width: 33.33%;
        }

        .col-5 {
            width: 41.66%;
        }

        .col-6 {
            width: 50%;
        }

        .col-7 {
            width: 58.33%;
        }

        .col-8 {
            width: 66.66%;
        }

        .col-9 {
            width: 75%;
        }

        .col-10 {
            width: 83.33%;
        }

        .col-11 {
            width: 91.66%;
        }

        .col-12 {
            width: 100%;
        }

        .BGGiftbox {
            display: block;
            margin: auto;
            box-shadow: 3px 3px 25px 3px rgba(50, 50, 50, .2);
        }

        .login_div {
            display: table;
            float: right;
            margin: 100px 0;
            width: 400px;
        }

        table {
            width: 100%;
            margin-bottom: 10px;
        }

        tr, td {
            width: 25%;
        }

        td {
            text-align: center;
        }

        p {
            padding: 0px;
            margin: 5px 0;
        }

        .BTNSubmit {
            cursor: pointer;
            width: 100%;
            color: white;
            padding: 8px;
            background-color: #333333;
            border: none;
            text-decoration-line: none;
            font-size: 18px;
            font-family: 'Montserrat', sans-serif;
        }

            .BTNSubmit:hover {
                background-color: #333344;
            }

        .BTNDelete {
            outline: 0;
            display: inline-block;
            text-align: center;
            cursor: pointer;
            width: 100%;
            color: white;
            padding: 8px;
            background-color: #A74444;
            border: none;
            text-decoration-line: none;
            font-size: 18px;
            font-family: 'Montserrat', sans-serif;
        }

            .BTNDelete:hover {
                background-color: #CB5454;
            }

            .BTNLogout {
            cursor: pointer;
            width: 100%;
            color: #333333;
            padding: 10px;
            border: none;
            background-color: transparent;
            text-decoration-line: none;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            transition:.3s;
            margin-bottom:50px;
        }

            .BTNLogout:hover {
                color: #CB5454;
            }

        input[type="text"], input[type="password"] {
            padding: 12px 7px 12px 20px;
            width: 90%;
            font-size: 14px;
            border: none;
            background-color: #FAF6F5;
        }

        a {
            text-decoration: none;
            color: #333333;
        }

            a:hover {
                color: #A74444;
            }

        .div-425, .div-768 {
            display: none;
        }


        /*<!===================================================================!>*/
        .card {
            width: 270px;
            font-family: arial;
            margin: 10px 13px;
            display: inline-block;
        }

        .title {
            font-size: 30px;
            font-weight: bold;
            text-align: center;
        }

        .list {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            background-color: #333333;
            border-radius: 15px;
            color: white;
            padding: 25px 10px;
        }

        a {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }

        .head {
            font-size: 24px;
        }

        /*<!===================================================================!>*/

        @@media screen and (max-width: 1440px) {
           
        }

        @@media screen and (max-width: 1024px) {
            .card {
                width: 300px;
                font-family: arial;
                margin:0px 19px 40px 19px;
                display: inline-block;
            }
        }

        @@media screen and (max-width: 768px) {
            .div-1024, .div-425 {
                display: none;
            }
            .div-768 {
                display: table;
                width: 100%;
            }

            .BGGiftbox {
                width: 80%;
                display: block;
                margin: auto;
                box-shadow: 3px 3px 25px 3px rgba(50, 50, 50, .2);
            }

            .login_div {
                display: table;
                width: 80%;
                margin: 20% 0px;
            }
            .card {
                width: 300px;
                font-family: arial;
                margin:0px auto 40px auto;
                display: block;
            }
        }

        @@media screen and (max-width: 425px) {
            .div-1024, .div-768 {
                display: none;
            }

            .div-425 {
                display: table;
                width: 100%;
            }

            .login_div {
                display: table;
                width: 80%;
            }
            
            .card {
                width: 100%;
                font-family: arial;
                margin-bottom: 40px;
                display: block;
            }
        }
    </style>
</head>
<body>
    <div class="div-1024">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <h1>User</h1>
                <div class="row">
                    <div class="col-6"><a href="@Url.Action("Answer", "User")"><button class="BTNSubmit">Answer</button></a></div>
                    <div class="col-6"><a href="@Url.Action("Logout", "Login")"><button class="BTNLogout">Logout</button></a></div>
                </div>
                
                @foreach (Models.ShowModel item in Model)
                {
                    <div class="card">
                        <p class="title">
                            <a href="@Url.Action("Detail","User",new { id = item.UserID })" class="title">@item.Name</a>
                        </p>
                        <table class="list">
                            <tr>
                                <td style="border-right:1px solid #ccc">
                                    <p class="head"> @item.income฿</p>
                                    Income
                                </td>
                                <td style="border-right:1px solid #ccc">
                                    <p class="head">@item.exp฿</p>
                                    Expenses
                                </td>
                                <td>
                                    @if (item.total >= 0)
                                    {
                                        <p class="head">@item.total฿</p>
                                    }
                                    else
                                    {
                                        <p class="head" style="color:red;">@item.total฿</p>
                                    }
                                    Total
                                </td>
                            </tr>
                        </table>
                        <a href="@Url.Action("Delete","User",new { id = item.UserID })"><button class="BTNDelete">Delete</button></a>
                    </div>
                }
            </div>
            <div class="col-2"></div>
        </div>
    </div>

    <div class="div-768">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <h1>User</h1>
                <div class="row">
                    <div class="col-6"><a href="@Url.Action("Answer", "User")"><button class="BTNSubmit">Answer</button></a></div>
                    <div class="col-6"><a href="@Url.Action("Logout", "Login")"><button class="BTNLogout">Logout</button></a></div>
                </div>
                
                @foreach (Models.ShowModel item in Model)
                {
                    <div class="card">
                        <p class="title">
                            <a href="@Url.Action("Detail","User",new { id = item.UserID })" class="title">@item.Name</a>
                        </p>
                        <table class="list">
                            <tr>
                                <td style="border-right:1px solid #ccc">
                                    <p class="head"> @item.income฿</p>
                                    Income
                                </td>
                                <td style="border-right:1px solid #ccc">
                                    <p class="head">@item.exp฿</p>
                                    Expenses
                                </td>
                                <td>
                                    @if (item.total >= 0)
                                    {
                                        <p class="head">@item.total฿</p>
                                    }
                                    else
                                    {
                                        <p class="head" style="color:red;">@item.total฿</p>
                                    }
                                    Total
                                </td>
                            </tr>
                        </table>
                        <a href="@Url.Action("Delete","User",new { id = item.UserID })"><button class="BTNDelete">Delete</button></a>
                    </div>
                }
            </div>
            <div class="col-2"></div>
        </div>
    </div>

    <div class="div-425">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <h1>User</h1>
                
                    <a href="@Url.Action("Answer", "User")"><button class="BTNSubmit">Answer</button></a>
                <a href="@Url.Action("Logout", "Login")"><button class="BTNLogout">Logout</button></a>
                @foreach (Models.ShowModel item in Model)
                {
                    <div class="card">
                        <p class="title">
                            <a href="@Url.Action("Detail","User",new { id = item.UserID })" class="title">@item.Name</a>
                        </p>
                        <table class="list">
                            <tr>
                                <td style="border-right:1px solid #ccc">
                                    <p class="head"> @item.income฿</p>
                                    Income
                                </td>
                                <td style="border-right:1px solid #ccc">
                                    <p class="head">@item.exp฿</p>
                                    Expenses
                                </td>
                                <td>
                                    @if (item.total >= 0)
                                    {
                                        <p class="head">@item.total฿</p>
                                    }
                                    else
                                    {
                                        <p class="head" style="color:red;">@item.total฿</p>
                                    }
                                    Total
                                </td>
                            </tr>
                        </table>
                        <a href="@Url.Action("Delete","User",new { id = item.UserID })"><button class="BTNDelete">Delete</button></a>
                    </div>
                }
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</body>
</html>
